<ion-header>
  <ion-toolbar>
    <ion-title>Rick and Morty</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterCharacters()" placeholder="Buscar personaje"></ion-searchbar>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let character of filteredCharacters">
        <ion-card (click)="goToDetails(character.id)" button>
          <img [src]="character.image" [alt]="character.name" class="imgs"/>
          <ion-card-header><br>
            <ion-card-title>{{ character.name }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-button (click)="loadMore()" *ngIf="!loading" class="bt-s">
  Cargar más personajes
</ion-button>

<style>
  .imgs{
    border-radius: 50%;
    border: 5px solid rgb(0, 255, 145);
  }

  .imgs:hover{
    cursor: pointer;
  }

  .bt-s{
    height: 2rem;
  }

  ion-header{
    background-color: rgba(158, 100, 158, 0.752);
  }

</style>